<img src="welcome.jpg">
<h4>Hello <%= @user.name %></h4>
Welcome to Structured Thinking. If you are planning an extension, home improvements or moving house, we have the professionals to take your project from start to finish.

