
<h1>Welcome to <strong>structured-thinking</strong></h1>
<br>
<h4>Hi <%= @user.name %></h4>
<br>
This site is Job posting and hiring website.
<br>
<h3>Posting</h3>
<br>
<h3>Hiring </h3>
<br>
<h3>Settings</h3>
<br>
