<head>
  <meta name="title" content="client reviews">
  <meta name="description" content="show reviews of Structural engineers and Freelance architect.">
  <meta name="keywords" content="structural engineer, freelance architect">
</head>

<div class="container">
	</br>
		<h2 align="center">Submit your review!</h2>
	</br>
</div>

<%= render 'form', review: @review %>