<div class="container">
	<hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <!-- FOOTER -->
  <footer>
    <!-- <p class="pull-right lead"><a href="#">Back to top</a></p> -->
    <p class="lead">&copy; 2017 GMZ &middot; <a href="<%= privacy_policy_about_index_path %>">Privacy</a> &middot; <a href="<%= terms_about_index_path %>">Terms</a></p>
  </footer>
</div>