<head>
  <meta name="title" content="professions edit">
  <meta name="description" content="Make users to edit professions for Structural engineer, surveyor and architect.">
  <meta name="keywords" content="profession, structural engineer, surveyor">
</head>
<h1>Editing Profession</h1>

<%= render 'form', profession: @profession %>

<%= link_to 'Show', @profession %> |
<%= link_to 'Back', professions_path %>
