<head>
  <meta name="title" content="Professions show">
  <meta name="description" content="Showing professions for subsidence, underpinnig and building control.">
  <meta name="keywords" content="subsidence, underpinnig, building control">
</head>
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @profession.title %>
</p>

<%= link_to 'Edit', edit_profession_path(@profession) %> |
<%= link_to 'Back', professions_path %>
