<% if @user.portfolios.present? %>  
	<% @user.portfolios.each do |portfolio|%>
	  <%= image_tag(portfolio.image, :size => '260x180') %>
	  <p> <%= portfolio.title %>
      <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#edit-portfolio">Edit portfolio</button>
    </p>
	<% end %>
<% end %>

<!-- <div id="uploadAvatar" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Upload your photo</h4>
            </div>
            <div class="modal-body">

              
              
              <canvas id="myCanvasOrientationFix" class="hidden"></canvas>
              <img id = "img-profile-source-tmp" class="hidden"></img>
              <div id="crop_container">
                
              </div>
              </br></br>
              <div>

              </div>         
            </div>
            <div class="modal-footer">
              <button type="button" onclick="cropbuttonclick()" class="btn btn-default" data-dismiss="modal">Done</button>
            </div>
          </div>
        </div>
      </div>  -->