<head>
  <meta name="title" content="On success">
  <meta name="description" content="This page shows when successed planning application, home improvement">
  <meta name="keywords" content="successed, home improvement, planning application">
</head>
<div class="container">
	</br>
		<h3 align="center">Thank you! Your transaction has been sent successfully. </h3>
	</br>
</div>