<head>
  <meta name="title" content="Proposals edit">
  <meta name="description" content="Editing proposals for freelance structural engineer, surveyor and architect.">
  <meta name="keywords" content="freelance structural engineer, surveyor, architect">
</head>
<div class="container">
	</br>
		<h1 align="center">Update your proposal!</h1>
	</br>
</div>

<%= render 'form', proposal: @proposal %>
