<div class="container">
	</br>
		<h1 align="center">Update your proposal!</h1>
	</br>
</div>

<%= render 'form', proposal: @proposal %>

<%= link_to 'Show', @proposal %> |
<%= link_to 'Back', proposals_path %>
