<head>
  <meta name="title" content="Proposals new">
  <meta name="description" content="Making proposals for home improvement, subsidence and structural engineers.">
  <meta name="keywords" content="home improvement, subsidence, structural engineers">
</head>
<div class="container">
	</br>
		<h1 align="center">Submit your proposal!</h1>
	</br>
</div>

<%= render 'form', proposal: @proposal %>