<head>
  <meta name="title" content="freelancer reviews making">
  <meta name="description" content="This page provides new page of freelance structural engineer, freelance surveyor and 
  freelance architect">
  <meta name="keywords" content="review freelance structural engineer, freelance surveyor">
</head>
<div class="container">
	</br>
		<h2 align="center">Submit your review!</h2>
	</br>
</div>

<%= render 'form', review: @review %>