<div class="jumbotron text-center">
  <h1>How it works</h1>
  <p>Find the way what you need to be done!</p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Decide what you need to do</h3>
      <p>Are you going to extend your property? or build a new property?</p>
      <p>Even if you would like to have interior design</p>
    </div>
    <div class="col-sm-4">
      <h3>Post a Job</h3>
      <p>Post a job and there will be candidates who can help you</p>
      <p>Describe the details what you would like to do</p>
    </div>
    <div class="col-sm-4">
      <h3>Hire a engineer</h3> 
      <p>Shortlist the candidates and choose your engineer who can work on your project</p>
    </div>
  </div>
</div>