<head>
  <meta name="title" content="how it works of structured thinking">
  <meta name="description" content="This page shows how to use this site">
  <meta name="keywords" content="Architect, Freelance structural engineer, Home improvement">
</head>
<div class="jumbotron text-center">
  <h1>How it works</h1>
  <p></p> 
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>1. Complete a short form describing what you need and post your job</h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>2. Review proposals from interested freelancers and businesses</h3>
      <p></p>
      <p></p>
    </div>
    <div class="col-sm-4">
      <h3>3. Select the best one and hire with confidence!</h3> 
      <p></p>
    </div>
  </div>
</div>