<% content_for(:title) do %>
	Contact - Structured Thinking
<% end %>
<div class='container'>
	<div class='row'>
		<div id="about-page" class="col-lg-12">
			<h1 class="page-header">What we do… </h1>
			<div class="row">
				<div class="col-lg-12">
					<p>
						Structured Thinking is the only online marketplace where you can find the local professionals to assist you with your property project, whatever it may be.  At Structured Thinking we understand the needs of homeowners and developers, and understand that by simplifying the procurement of services we can add value to your project.
					</p>
					<p>
					</p>
					<p>
					</p>
					<hr/>
					<h3>Why hire a freelancer?</h3>
					<hr/>
					<p>
						Hiring a freelancer is an easy and cost effective way of getting your job done.  Freeelancers and small businesses are able to offer lower rates than the broader market because they operate without many of the overheads of traditional business, such as office space, staffing costs and marketing.  Structured Thinking puts you in direct contact with the skills you need when you need them, saving you money and ensuring that your job takes prioity.
					</p>
					<p>
					</p>
					<hr/>
					<h3>Why work as a freelancer?</h3>
					<hr/>
					<p>
						Working as a freelancer offers many attractive benefits over permanent employment.  The freedom to work as much or as little as suits you, the flexibility to fit your working hours around your lifestyle, and complete control of the jobs you select.  Whether you choose to freelance full-time, or as a way of supplementing your income, Structured Thinking puts you in control of your career, introduces you to new customers, and enables you to build your network amongst the growing freelancer community.
					</p>
					<hr/>
					<h3>Join the community. <%= link_to 'Sign up today for FREE!', new_user_registration_path%> </h3>
				</div>
				
			</div>
		</div>
		
	</div>

</div>