<% content_for(:title) do %>
	Contact - Structured Thinking
<% end %>
<div class='container'>
	<div class='row'>
		<div id="about-page" class="col-lg-12">
			<h1 class="page-header">What we do…. </h1>
			<div class="row">
				<div class="col-lg-12">
					<p>
						Coming soon...
					</p>
					<p>
					</p>
					<p>
					</p>
					<hr/>
					<h3>Why hire a freelancer?</h3>
					<hr/>
					<p>
						Coming soon...
					</p>
					<p>
					</p>
					<hr/>
					<h3>Why work as a freelancer?</h3>
					<hr/>
					<p>
						Coming soon...
					</p>
					<hr/>
					<h3>Join the community.  Sign up today for FREE!</h3>
					<hr/>
					<p>
						Coming soon...
					</p>
				</div>
				
			</div>
		</div>
		
	</div>

</div>