<% content_for(:title) do %>
	Contact - Structured Thinking
<% end %>
<div class='container'>
	<div class='row'>
		<div id="about-page" class="col-lg-12">
			<h1 class="page-header">About Structured Thinking</h1>
			<div class="row">
				<div class="col-lg-12">
					<p>
						Structured Thinking is the marketplace where you can find proper engineers to work on your properties. It also provides the platform for engineers to find jobs.
					</p>
					<p>
						Lorem ipsum dolor sit amet, cum mentitum suscipit ei, et eam illud aperiam. Ex laudem possim alterum sea. Eripuit saperet instructior ea cum, reque dicat at per, iusto omnium prodesset in eam. Ea quas errem eripuit pri, mea ei falli iusto putent. Ne sed hinc tota atqui, usu ut postea voluptaria mediocritatem, ei vis feugiat sensibus.
					</p>
					<p>
						Ei elitr bonorum mea, quis solum menandri eos ad, porro tractatos voluptatum cu mel.
					</p>
					<hr/>
					<h3>Find your engineer!</h3>
					<hr/>
					<p>
						Ei elitr bonorum mea, quis solum menandri eos ad, porro tractatos voluptatum cu mel. Dolores dissentiunt qui ut, nam in sint iriure recteque. Te graeci nostro facilisi mea, quo discere electram percipitur ut. Oratio tantas possim quo at, percipit prodesset dissentias eu vis. Ea feugiat detraxit dissentias usu, sed modus mentitum delicata at.
					</p>
					<p>
						User registration is necessary for use of Structured Thinking.
					</p>
					<hr/>
					<h3>Find your job!</h3>
					<hr/>
					<p>
						Ei elitr bonorum mea, quis solum menandri eos ad, porro tractatos voluptatum cu mel. Dolores dissentiunt qui ut, nam in sint iriure recteque. Te graeci nostro facilisi mea, quo discere electram percipitur ut. Oratio tantas possim quo at, percipit prodesset dissentias eu vis. Ea feugiat detraxit dissentias usu, sed modus mentitum delicata at.
					</p>
					<hr/>
					<h3>Enjoy!</h3>
					<hr/>
					<p>
						Thank you for using Structured Thinking!
					</p>
				</div>
				
			</div>
		</div>
		
	</div>

</div>