<head>
  <meta name="title" content="Privacy policy of structured-thinking">
  <meta name="description" content="Explain principle of Lease extension">
  <meta name="keywords" content="Basement, Lease extension, Subsidence">
</head>
<div class="jumbotron text-center">
  <h1>Privacy Policy</h1>
  <p>Effective Date: June 30, 2017</p> 
</div>

<div class="container privacy-container">

  <h4>Introduction</h4>
  <p>This website privacy policy describes how structured-thinking.co.uk protects and makes use of the information you give the company when you use this website.</p>
  <p>If you are asked to provide information when you use this site, it will only be used in the manner provided for under this policy.</p>
  <p>This policy is updated from time to time but the latest version is published on this page.</p>
  <p>This website privacy policy was updated last on 29th June 2016.</p>

  </br>
  <h4>The Data we gather</h4>
  <p>By way of registering and hosting users on this website, we gather certain information which may include but is not limited to, names, job title, identity, demographic information, address, website usage data, personal certifications and other information relevant to client inquiries.</p>

  </br>
  <h4>How we Use the Data</h4>
  <p>We may use this data for:</p>
  <ul>
    <li>a) our own internal records</li>
    <li>b) for suggesting services and sellers who are relevant to your searches</li>
    <li>c) to send you promotional emails about services, products, offers and other things that we think may be relevant to you</li>
    <li>d) to contact you via email, telephone or mail</li>
  </ul>

  </br>
  <h4>Use of Cookies</h4>
  <p>Cookies are small files installed on your computer’s hard drive that assist our website to identify your computer as you view different pages on our website.</p>
  <p>These cookies will enable the website to store your preferences for the purpose of presenting content, options and functions that are specific to you. Cookies also enable us to see information on how many people use the website and which pages they frequent.</p>
  <p>We may use cookies to;</p>
  <ul>
    <li>a) Analyse our website traffic using analytic package. This will help us to improve our website structure, design, content and functions</li>
    <li>b) Identify whether you are signed in to our website</li>
    <li>c) Test content on our website</li>
    <li>d) To store information about your preferences</li>
    <li>e) To recognise when you return to our website</li>
  </ul>
  <p>Cookies will not provide us access to your computer or any of your information other than that which you choose to share with us.</p>

  </br>
  <h4>Controlling Cookies</h4>
  <p>you can use your browser’s cookie settings to determine how our website uses cookies and if you do not want our website to store cookies on your computer, you should set your web browser to refuse cookies. Doing this however may affect how our website functions and some content and pages may become unavailable to you.</p>

  </br>
  <h4>Controlling your Information</h4>
  <p>When you fill in a form or provide your details on our website, you may be asked to opt in to receive email marketing from either us or third party content. If you have already agreed that we can use your contact information for marketing purposes, you can change your mind through either signing into our website and changing opt-in settings or sending an email to use.</p>
  <p>Your information will never be leased or sold out to third parties unless we have your permission or that the law requires us to.  Any personal information we hold about you is stored and processed under our data protection policy in line with the Data Protection Act 1998.</p>

  </br>
  <h4>Security of Information</h4>
  <p>We will always hold your information securely to prevent unauthorised disclosure and access to your information. For that purpose we have implemented strong physical and electronic security safeguards in Accordance to the Data Protection Act 1998.</p>

  </br>
  <h4>Links from Our Site</h4>
  <p>Our website may contain links to other websites. Please note that we have no control over websites outside our domain. If you provide information to a website in which we link, we are not responsible for its protection and privacy. You will be responsible for reading the site’s data protection and privacy policies in full.</p>
</div>