<div class="jumbotron text-center">
  <h1>Terms of Use</h1>
  <p>Effective Date: June 30, 2017</p> 
</div>

<div class="container terms-container">

  <h2>TABLE OF CONTENTS</h2>
  <h4><a href="#client-terms">Client Terms</a></h4>
  <ol>
    <li><a href="#purpose"><strong>Purpose</strong></a>
    <li><a href="#nature-of-contract"><strong>Nature of Contract</strong></a>
    <li><a href="#appointment"><strong>Appointment</strong></a>
    <li><a href="#scope-of-services"><strong>Scope of Services</strong></a>
    <li><a href="#compensation-and-billing-procedure"><strong>Compensation and Billing Procedure</strong></a>
    <li><a href="#use-of-clients-premises"><strong>Use of Client’s Premises </strong></a>
    <li><a href="#confidentiality"><strong>Confidentiality</strong></a>
    <li><a href="#indemnities"><strong>Indemnities</strong></a>
    <li><a href="#termination"><strong>Termination.</strong></a>
    <li><a href="#amendments"><strong>Amendments</strong></a>
    <li><a href="#assignment"><strong>Assignment</strong></a>
    <li><a href="#governing-law"><strong>Governing Law</strong></a>
    <li><a href="#entire-agreement"><strong>Entire Agreement</strong></a>
  </ol>

  <h4><a href="#contrator-terms">Contractor Terms</h4></a>
  <ol>
    <li><a href="#the-company"><strong>The Company</strong></a>
    <li><a href="#relationship"><strong>Relationship</strong></a>
    <li><a href="#contractors-professional-registrations"><strong>Contractors’ Professional Registrations</strong></a>
    <li><a href="#term"><strong>Term</strong></a>
    <li><a href="#engagement"><strong>Engagement</strong></a>
    <li><a href="#work-product-ownership"><strong>Work Product Ownership</strong></a>
    <li><a href="#compensation"><strong>Compensation</strong></a>
    <li><a href="#withdrawal-of-earnings"><strong>Withdrawal of earnings</strong></a>
    <li><a href="#taxation-and-insurance"><strong>Taxation and Insurance.</strong></a>
    <li><a href="#termination-contractor"><strong>Termination.</strong></a>
    <li><a href="#clients-confidential-information"><strong>Client’s Confidential Information.</strong></a>
    <li><a href="#offset-for-amounts-owed-by-contractor"><strong>Offset for Amounts Owed by Contractor</strong></a>
    <li><a href="#use-of-clients-property-and-client-safeguarding-policy"><strong>Use of Client’s Property and Client Safeguarding Policy</strong></a>
    <li><a href="#miscellaneous-provisions"><strong>Miscellaneous Provisions.</strong></a>
  </ol>

  <h3 id="client-terms">Client Terms</h3>

  <p><strong>These terms and conditions govern the relationship between GMZ Limited, a limited liability company number 6718056, trading as structured-thinking.co.uk and the Client. By using our website, you acknowledge that you have read and understood the terms and are willing to be legally bound by the same</strong></p>

  </br>
  <ol>
    <li id="purpose"><strong>Purpose</strong>
      <ol>
        <li>Intermediary runs a linking website between clients and professionals in the field of structural engineering, surveyors, architects and designers. Client wishes to engage one of the contractors registered on the Intermediary’s website for provision of one or more of the listed services.</li>
      </ol>
    </li>
  
    </br>
    <li id="nature-of-contract"><strong>Nature of Contract</strong>
      <ol>
        <li>This agreement is a contract for an intermediary relationship between the Client and a Contractor of Client’s own choice accessible through the Intermediary’s 
        website.</li>
        <li>While the intermediary offers a channel for communication between the Client and Contractor, the Intermediary is in no way responsible to the Client for the services provided by the Contractor neither is the Intermediary liable for any claims arising between the Client and the Contractor regarding the performance of the services..</li>
      </ol>
    </li>

    </br>
    <li id="appointment"><strong>Appointment</strong>
      <ol>
        <li>Client appoints Intermediary as Client’s exclusive link with the Contractor in connection with the services for the term as hereinafter provided and specifically agrees that is shall be a breach of this agreement to cause the Contractor to accept any payment for the services outside this intermediary website.</li>
      </ol>
    </li>

    </br>
    <li id="scope-of-services"><strong>Scope of Services</strong>
      <ol>
        <li>Scope of Services will be agreed by and between the Client and the Contractor and paid for directly to the Intermediary in accordance with the Intermediary’s terms. Should the Client request the Contractor to perform additional services beyond what is initially agreed, the additional services will be set forth in writing through the intermediary and will be billed in addition as per the intermediary’s terms.</li>
        <li>Direct engagement and payment of a Contractor who becomes known to the Client through the Intermediary outside the Intermediary’s website is hereby strictly prohibited and will be considered a breach of this agreement.</li>
      </ol>
    </li>

    </br>
    <li id="compensation-and-billing-procedure"><strong>Compensation and Billing Procedure</strong>
      <ol>
        <li>Client will be billed directly by the Contractor, through the Intermediary at the rate agreed between Client and Contractor.</li>
        <li>Intermediary will first apply the funds in paying Intermediary’s fee for the provision of the services and remit the rest to the Contractor. In case of any deficiency, the Client will be required to immediately top up the deficient amount.</li>
        <li>The Client shall remain liable to both the intermediary and the Contractor for any late fee, which will become immediately payable, and shall fully indemnify and hold harmless the Intermediary as against the Contractor for any such amount.</li>
        <li>For avoidance of doubt, the Intermediary will not offer any refund or discounted fee based on the service fee for lack of performance of the services which is attributable to the Client’s default and the Client hereby specifically waives any right, whether legal or otherwise acquired, to claim such refund.</li>
        <li>Intermediary shall refund any fee paid by the Client in full and without any setoff whatsoever where non-performance is due to Contractor’s own fault</li>
      </ol>
    </li>

    </br>
    <li id="use-of-clients-premises"><strong>Use of Client’s Premises </strong>
      <ol>
        <li>In the event that the services contracted for are to be performed in the Client’s Premises, Client acknowledges that Client shall be jointly responsible with the Contractor in ensuring work-place safety and safeguarding and Intermediary shall not in any way be held liable for any actions arising in relation to this responsibility.</li>
      </ol>
    </li>

    </br>
    <li id="confidentiality"><strong>Confidentiality</strong>
      <ol>
        <li>Client agrees to keep in confidence, and not to disclose or use for Client’s own respective benefit or for the benefit of any third party (except as may be required for the performance of services under this Agreement or as may be required by law), any information, documents, or materials that are reasonably considered confidential regarding Contractor’s identity and related details; provided, however, that such obligation of confidentiality will not extend to anything in the public domain or that was in the possession of either party prior to disclosure.</li>
      </ol>
    </li>

    </br>
    <li id="indemnities"><strong>Indemnities</strong>
      <ol>
        <li>Client agrees to indemnify and hold Intermediary harmless with respect to any claims or actions by third parties against Intermediary based upon Client’s and/or Contractor’s negligence, actions and omissions under this agreement.</li>
      </ol>
    </li>

    </br>
    <li id="termination"><strong>Termination.</strong>
      <ol>
        <li>Intermediary may terminate this Agreement at any time without notice to the Client in any of these events;
          <ol>
            <li><i>Client fails or refuses to perform Client’s payment duties imposed under this contract through Company’s Website for any reason;</i></li>
            <li><i>Client causes contractor to accept payment outside the Intermediary website;</i></li>
            <li><i>Client has breached any term or provision contained herein;</i></li>
            <li><i>Client has willfully engaged in dishonesty, or misrepresentation</i></li>
          </ol>
        </li>
        <li>On the termination of this Agreement, the continuing duties created in this Agreement shall survive until they end in accordance with the Agreement.  On the termination of this Agreement, Client shall pay Intermediary any outstanding unpaid compensation; such compensation to be offset from any money owed by the Client to the Intermediary as deposited with the intermediary, failing which the Client shall pay the sum as liquidated damages.</li>
      </ol>
    </li>

    </br>
    <li id="amendments"><strong>Amendments</strong>
      <ol>
        <li>Intermediary may amend these terms at any time without notice to the Client and Client’s continued use of the website signifies acceptance of such amended terms</li>
      </ol>
    </li>

    </br>
    <li id="assignment"><strong>Assignment</strong>
      <ol>
        <li>This agreement is personal to the Client and may not be assigned or contracted. The Intermediary may at any time assign or contract any or all of its rights and obligations under this contract at its sole discretion and without prior notice to the Client</li>
      </ol>
    </li>

    </br>
    <li id="governing-law"><strong>Governing Law</strong>
      <ol>
        <li>These terms shall be interpreted in accordance with the laws England and Wales and without regard to its principles of conflicts of laws. Jurisdiction and venue shall be solely within the United Kingdom.</li>
      </ol>
    </li>

    </br>
    <li id="entire-agreement"><strong>Entire Agreement</strong>
      <ol>
        <li>These terms form the entire agreement between the parties and waivers any other prior oral or written representations between the parties.</li>
      </ol>
    </li>
  </ol>

  </br>
  </br>
  <h3 id="contrator-terms">Contractor Terms</h3>

  <p><strong>These terms and conditions govern the relationship between GMZ Limited, a limited liability company number 6718056, trading as structured-thinking.co.uk and the Contractor. By using our website, you acknowledge that you have read and understood the terms and are willing to be legally bound by the same</strong></p>

  </br>
  <ol>
    <li id="the-company"><strong>The Company</strong>
      <ol>
        <li>The company runs an intermediary website that acts as a link between Clients and contractors within the field of structural engineering, surveyors, architects and designers.</li>
      </ol>
    </li>
  
    </br>
    <li id="relationship"><strong>Relationship</strong>
      <ol>
        <li>The role of the company is limited to that of connecting the Contractors and the Clients (End Users of the website). The Company is therefore not liable for the relationship between the Contractor and the Clients. The Company must at all times be Indemnified and held harmless for any liability arising between the parties.</li>
      </ol>
    </li>

    </br>
    <li id="contractors-professional-registrations"><strong>Contractors’ Professional Registrations</strong>
      <ol>
        <li>The Contractor must have, and must furnish the Company with their professional registration numbers with the relevant registration bodies before the contractor can commence any seller activity on the website.</li>
      </ol>
    </li>

    </br>
    <li id="term"><strong>Term</strong>
      <ol>
        <li>This engagement shall commence upon the date of first registration of the company and shall continue until terminated by the company.</li>
      </ol>
    </li>

    </br>
    <li id="engagement"><strong>Engagement</strong>
      <ol>
        <li>Contractor shall be engaged on a contractual basis as and when the Contractor receives a request from a Client on the website, and shall perform the duties and responsibilities generally associated with or for such position as an independent contractor and not as an agent or employee of Company.
          <ol>
            <li><i>Contractor is performing services as an independent contractor and not as an agent or employee of Company.  Nothing in this Agreement shall be read or construed to render the Contractor an employee, partner, agent of, or joint venturer with the Company for any purpose.  Company has no right to control the manner or details of how Contractor performs the services called for hereunder.</i></li>
            <li><i>Contractor shall perform all services in accordance with all applicable laws of England and Wales and regulations related to the rendition of the services contracted for and shall not use any subcontractors in performing such services unless they are fully qualified.</i></li>
            <li><i>Contractor shall provide all supplies and equipment necessary for the rendition of services Contractor provides.</i></li>
            <li><i>Contractor is and will remain an independent contractor in his/her relationship with the Company.</i></li>
            <li><i>Company shall not be responsible for withholding taxes with respect to the contractor’s compensation hereunder.  Contractor shall have no claim against the Company hereunder or otherwise for vacation pay, sick leave, retirement benefits, social security, worker’s compensation, health or disability benefits, unemployment insurance benefits, or employee benefits of any kind.</i></li>
            <li><i>Company does not bind itself to display Contractor’s services exclusively to the Clients and contractor acknowledges that there are many contractors registered on the Company’s website who will also be similarly engaged. Similarly, Contractor is not bound to perform services through the Company exclusively, during or beyond the term of this Agreement.</i></li>
          </ol>
        </li>
      </ol>
    </li>

    </br>
    <li id="work-product-ownership"><strong>Work Product Ownership</strong>
      <ol>
        <li>Subject to the Client making payments, all work products and any intellectual property developed by the contractor during contractor’s term of engagement with a client shall remain the property of the client. Contractor hereby waives any future rights of ownership, howsoever way acquired, from such work product or intellectual property.</li>
      </ol>
    </li>

    </br>
    <li id="compensation"><strong>Compensation</strong>
      <ol>
        <li>The Company shall collect payments made by the Client to the Contractor on the Contractor’s behalf through the Website to an escrow account and the Contractor agrees not to accept payment through any other medium so as to exclude the Company. A breach of this Clause will be considered material and will lead to immediate termination of this contract and Company reserves the right to pursue the Contractor for any damages in relation to loss of earnings either directly and/or indirectly through potential future earnings loss from the client/s.</li>
        <li>Contractor’s compensation shall be agreed between the Contractor and the Client and the same shall be inclusive of a 5% commission payable to the Company as compensation for introducer services. The amount paid by the Client shall first be applied as a priority in settling the Company commission before being released to Contractor.</li>
        <li>In the event a client disputes the services or refuses to pay some or all of fees to the Contractor for whatever reason, Contractor agrees and understands that Company will not pay Contractor unless and until the dispute is resolved.  If a client refuses to or otherwise does not pay Company for a Contractor’s services, Company shall not be obligated to pay Contractor for that service.</li>
        <li>Contractor acknowledges and agrees that its sole compensation under this Agreement will be the sum paid for the specific services rendered.  Contractor is not and will not be entitled or eligible by virtue of this Agreement to receive any benefits from Company (including, but not limited to vacation pay, sick leave, retirement benefits, social security, worker’s compensation, health or disability benefits, unemployment insurance benefits, or employee benefits of any kind).  Contractor hereby waives and releases all rights to participate in any Company benefit plans.</li>
      </ol>
    </li>

    </br>
    <li id="withdrawal-of-earnings"><strong>Withdrawal of earnings</strong>
      <ol>
        <li>Subject to identification test, the Contractor will be required to make a withdrawal request through the preferred payment method. The Company will process withdrawal request on a daily basis but the payment period will be affected by the preferred method’s processing times.</li>
      </ol>
    </li>

    </br>
    <li id="taxation-and-insurance"><strong>Taxation and Insurance.</strong>
      <ol>
        <li>Contractor shall be responsible for the timely reporting and payment to the proper taxing authorities of all UK taxes as applicable to the amounts paid to Contractor by Company.  Contractor further agrees to indemnify and save Company harmless against all claims and taxes (including interest, penalties, and any other costs which are claimed or assessed against Company and are attributable to this Agreement or the payments made hereunder).</li>
        <li>Contractor shall also be responsible for providing any insurance necessary in conjunction with this Agreement, including Personal Liability Insurance and recognizes that Company shall carry no insurance of any type whatsoever covering Contractor under this Agreement.</li>
      </ol>
    </li>

    </br>
    <li id="termination-contractor"><strong>Termination.</strong>
      <ol>
        <li>Either Contractor or Company may terminate this Agreement at any time. Company may immediately terminate this Agreement, without prior written notice, in the event any of the following occurs:
          <ol>
            <li><i>Contractor fails to present or maintain the required licensure or certification;</i></li>
            <li><i>Contractor fails or refuses to perform the duties contracted for by a Client through Company’s Website for reason other than death or physical or mental illness;</i></li>
            <li><i>Contractor has breached any term or provision contained herein;</i></li>
            <li><i>Contractor has willfully engaged in theft, dishonesty, or misrepresentation;</i></li>
          </ol>
        </li>
        <li>On the termination of this Agreement, the continuing duties created in this Agreement shall survive until they end in accordance with the Agreement.  On the termination of this Agreement, Company shall pay Contractor any outstanding unpaid compensation; such compensation to be offset by any money owed by the Contractor to the Company or any damages accruing to the Company as a result of Contractor’s failure to turn in time for a Client, or Contractor’s failure to complete any other obligations owed to the Company prior to termination.</li>
      </ol>
    </li>

    </br>
    <li id="clients-confidential-information"><strong>Client’s Confidential Information.</strong>
      <ol>
        <li>Contractor understands and agrees that all of the data and information Client provides to the Contractor is confidential and further, that such information is the sole property of Client</li>
        <li>Contractor agrees that it will not use, release, disclose or otherwise make available any of Client’s confidential, proprietary and/or trade secret information for any purpose other than Client’s business during the term of Client’s service to Company.  Contractor further agrees that it will not use, release, disclose or otherwise make available any of Client’s confidential, proprietary and/or trade secret information for any purpose at all after the effective date of the termination of this Agreement</li>
      </ol>
    </li>

    </br>
    <li id="offset-for-amounts-owed-by-contractor"><strong>Offset for Amounts Owed by Contractor</strong>
      <ol>
        <li>Contractor agrees that Company may offset any amounts owed by Contractor to Company against Contractor’s Compensation or any other money due to Contractor from Company.</li>
      </ol>
    </li>

    </br>
    <li id="use-of-clients-property-and-client-safeguarding-policy"><strong>Use of Client’s Property and Client Safeguarding Policy</strong>
      <ol>
        <li>Contractor agrees that Contractor does not stand in any fiduciary relationship with the Company and therefore will not bind the Company in the manner of performance and use of Client’s property, where applicable. Contractor will be expected to apply all safety measures and reasonable safeguarding policies expected of such a professional by law and shall indemnify and hold harmless the Company for any liability occasioned by Contractor’s breach of this Clause 11.1</li>
      </ol>
    </li>

    </br>
    <li id="miscellaneous-provisions"><strong>Miscellaneous Provisions.</strong>
      <ol>
        <li>The laws of England and Wales shall govern this agreement and all issues relating to its validity, interpretation, and performance. English courts shall have exclusive jurisdiction over all the disputes arising herein.</li>
        <li>With respect to each breach or threatened breach of this Agreement, all remedies available at law or in equity, including specific performance and injunctive relief, may be pursued concurrently or consecutively, in any order and at any time.</li>
        <li>Contractor agrees to pay Company its reasonable attorney’s fees and costs of litigation should Company prevail in an action arising from or in connection with this Agreement.</li>
        <li>The captions contained in this Agreement have been inserted for convenience of reference only.</li>
        <li>If any provision of the Agreement is held unenforceable by a court of competent jurisdiction: the Parties agree and fully consent that the rest of the provisions shall remain fully enforceable.</li>
        <li>The Parties agree that Company may assign its rights under this Agreement to any of its subsidiary, parent, successor, or affiliated companies.  In the case of such an assignment by Company, Contractor agrees that Contractor will be bound by the obligations in this Agreement in favor of the entity to which Company’s rights and obligations are assigned.</li>
        <li>This Agreement is one for personal services and Contractor may not assign or delegate its services or performance under this Agreement to any other person or entity.</li>
        <li>The Company may issue policies, rules, regulations, guidelines, procedures, or other informational material, whether in the form of handbooks, memoranda, or otherwise, relating to Company’s Contractors.  These materials do not alter the Parties relationship under this Agreement, do not constitute a part of this Agreement, do not constitute an Agreement independent of this one, and shall not be construed to alter, modify or amend this Agreement for any purpose whatsoever.</li>

      </ol>
    </li>

  </ol>
</div>