// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
background: #ff9600;
color: #FFF;
border-radius: 0px;
}

.jumbotron-sm { 
padding-top: 24px;
padding-bottom: 24px; 
}

.jumbotron small {
color: #FFF;
}

.h1 small {
font-size: 24px;
}