<head>
  <meta name="title" content="category edit">
  <meta name="description" content="category about Lease extension, Extension, Renovation">
  <meta name="keywords" content="Lease extension, structured-thinking, Renovation, category">
</head>
<h1>Editing Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %>
