<head>
  <meta name="title" content="category new">
  <meta name="description" content="Making category of Freelance, architect, structural engineer">
  <meta name="keywords" content="Freelance, architect, structural engineer">
</head>
<h1>New Category</h1>

<%= render 'form', category: @category %>

<%= link_to 'Back', categories_path %>
